:root {
  /* azure, cornsilk, floralwhite, ivory, snow */
  --color-white: ivory;
  --color-black: #343434;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.35;
  color: var(--color-black);
  background: var(--color-white);
}

.wrap {
  width: 90vw;
  min-height: 100vh;
  max-width: 75rem;
  margin: 0 auto;
}

main {
  padding: 1rem;
}

h1,
h2,
h3,
p {
  margin: 1em 0;
}

h1 {
  margin-top: 0.5em;
  font-size: 1.85rem;
}

h2 {
  font-size: 1.55rem;
}

h3 {
  font-size: 1.25rem;
}
