:root {
  /* azure, cornsilk, floralwhite, ivory, snow */
  --color-white: white;
  --color-white-active: snow;
  --color-offwhite: ivory;
  --color-black: #343434;
  --color-black-disabled: rgba(0, 0, 0, 0.35);
  --transition-time: 0.15s;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.35;
  color: var(--color-black);
  background: var(--color-offwhite);
}

.wrap {
  width: 90vw;
  min-height: 100vh;
  max-width: 75rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header,
aside,
main,
footer {
  padding: 1rem;
  flex: 0 0 auto;
}

main {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  position: relative;
}

footer {
  text-align: center;
  font-size: 0.875rem;
}

h2,
h3,
p {
  margin: 1em 0;
}

h1 {
  margin-top: 0.5em 0;
  font-size: 1.5rem;
}

h2 {
  font-size: 1.35rem;
}

h3 {
  font-size: 1.15rem;
}

#map {
  flex: 1 1 auto;
  position: relative;
  z-index: 10;
}

#map svg path.leaflet-interactive {
  transition: stroke-opacity var(--transition-time);

  &:hover,
  &:focus {
    stroke-opacity: 0.85;
  }
}

#map .leaflet-marker-pane .leaflet-marker-icon {
  transition: opacity var(--transition-time);

  &:hover,
  &:focus {
    opacity: 0.95 !important;
  }
}

.button {
  background: white;
  border: 1px solid var(--color-black);
  border-radius: 0.25em;
}

.selected-segments {
  padding: 0.5rem;
  background: white;
  border-radius: 0.25em;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  border: 1px solid var(--color-black);
  z-index: 99;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;

  .button {
    font-size: 0.75rem;
  }
}

.map-controls {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;

  .button.control {
    &:before {
      content: "\00D7";
      display: inline-block;
      margin-right: 0.25em;
    }

    &[aria-pressed="true"]:before {
      content: "\2713";
    }
  }
}
