:root {
  /* azure, cornsilk, floralwhite, ivory, snow */
  --color-white: white;
  --color-white-active: snow;
  --color-offwhite: ivory;
  --color-offwhite-alt: #f8eee2;
  --color-black: #343434;
  --color-black-disabled: rgba(0, 0, 0, 0.35);
  --transition-time: 0.15s;
  --bg-size-full: 40px;
  --bg-size-half: 20px;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.35;
  color: var(--color-black);

  /**
   * Background pattern from MagicPattern:
   * https://www.magicpattern.design/tools/css-backgrounds
   */
  background-color: var(--color-offwhite);
  background:
    radial-gradient(
      circle,
      transparent 20%,
      var(--color-offwhite) 20%,
      var(--color-offwhite) 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        var(--color-offwhite) 20%,
        var(--color-offwhite) 80%,
        transparent 80%,
        transparent
      )
      var(--bg-size-half) var(--bg-size-half),
    linear-gradient(var(--color-offwhite-alt) 2px, transparent 2px) 0 -1px,
    linear-gradient(
        90deg,
        var(--color-offwhite-alt) 2px,
        var(--color-offwhite) 2px
      ) -1px
      0;
  background-size:
    var(--bg-size-full) var(--bg-size-full),
    var(--bg-size-full) var(--bg-size-full),
    var(--bg-size-half) var(--bg-size-half),
    var(--bg-size-half) var(--bg-size-half);
}

.wrap {
  width: 90vw;
  min-height: 100vh;
  max-width: 75rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header,
aside,
main,
footer {
  padding: 0.75rem;
  flex: 0 0 auto;
}

main {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  position: relative;
}

footer {
  text-align: center;
  font-size: 0.875rem;
}

h2,
h3 {
  margin: 1em 0;
}

p {
  margin: 0 0 0.75em;
}

h1 {
  margin: 0.5em 0 0;
  font-size: 1.5rem;
}

h2 {
  font-size: 1.35rem;
}

h3 {
  font-size: 1.15rem;
}

#map {
  flex: 1 1 auto;
  position: relative;
  z-index: 10;
  border-radius: 0.35em;
  border: solid 1px var(--color-black);
}

#map svg path.leaflet-interactive {
  outline: 0.25em solid rgba(128, 0, 128, 0);
  outline-offset: 0.75em;
  border-radius: 0.25em;
  transition:
    stroke-opacity var(--transition-time),
    outline var(--transition-time);

  &:hover {
    stroke-opacity: 0.85;
    outline: 0.25em solid rgba(128, 0, 128, 0.25);
  }

  &:focus {
    stroke-opacity: 0.85;
    outline: 0.25em solid rgba(128, 0, 128, 0.5);
  }
}

#map .leaflet-marker-pane .leaflet-marker-icon {
  transition: opacity var(--transition-time);

  &:hover,
  &:focus {
    opacity: 0.95 !important;
  }
}

.button {
  background: white;
  border: 1px solid var(--color-black);
  border-radius: 0.25em;
}

.selected-segments {
  padding: 0.5rem;
  background: white;
  border-radius: 0.25em;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  border: 1px solid var(--color-black);
  z-index: 99;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.map-controls {
  margin-bottom: 0.5rem;
  align-items: flex-start;
  flex-wrap: wrap;

  .layers {
    margin-right: 1rem;
  }
}

@media (max-width: 600px) {
  .wrap {
    width: 94vw;
  }

  header,
  aside,
  main,
  footer {
    padding: 0.5rem;
  }

  .flex {
    flex-wrap: wrap;
  }
}
